# Loan

El dataset [./dataset/loan2.csv](./dataset/loan2.csv) contiene ciertos registros relacionados con préstamos. Cada registro se corresponde con los datos de un préstamo.

__1.)__  Crear un DataFrame llamado `loan` con los datos del fichero. No te olvides de importar el módulo necesario para realizar la creación del DataFrame.

In [5]:
# Sol:
import pandas as pd
loan = pd.read_csv('C:/Users/Alberto/Documents/GitHub/bod-ecv/module2_Python/dataset/loan2.csv')
loan.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,60930392,64972117,25000.0,25000.0,25000.0,36 months,13.33,846.33,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,51300.0,NaN,NaN,NaN
1,43649407,46666131,11200.0,11200.0,11200.0,60 months,16.55,275.65,D,D2,...,NaN,NaN,NaN,NaN,NaN,NaN,8000.0,NaN,NaN,NaN
2,62276884,66473639,6000.0,6000.0,6000.0,36 months,12.69,201.27,C,C2,...,NaN,NaN,NaN,NaN,NaN,NaN,17650.0,NaN,NaN,NaN
3,26047394,28500374,10000.0,10000.0,10000.0,60 months,12.99,227.48,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,9300.0,NaN,NaN,NaN
4,791801,996162,5000.0,5000.0,5000.0,36 months,11.49,164.86,B,B4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

__2.)__ Muestra las últimas filas del DataFrame que has creado en el apartado anterior.

In [6]:
# Sol: 

loan.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
3240,50253711,53632438,7150.0,7150.0,7150.0,36 months,11.53,235.89,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,6900.0,NaN,NaN,NaN
3241,15680685,17773104,5000.0,5000.0,5000.0,36 months,12.49,167.25,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,15100.0,NaN,NaN,NaN
3242,10105780,11957868,35000.0,35000.0,34900.0,36 months,11.99,1162.34,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,77600.0,NaN,NaN,NaN
3243,16091841,18194317,13825.0,13825.0,13825.0,36 months,20.20,515.20,E,E3,...,NaN,NaN,NaN,NaN,NaN,NaN,8600.0,NaN,NaN,NaN
3244,19927712,22150395,21000.0,21000.0,21000.0,36 months,10.15,679.10,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,85500.0,NaN,NaN,NaN

__3.)__ ¿Cuántas filas tiene la tabla?

In [7]:
# Sol

len(loan)

3245

__4.)__  Crea otro dataframe llamado `loan2` con los datos del fichero, pero esta vez realiza la carga únicamente de las siguientes columnas:

```cols = ['member_id', 'loan_amnt', 'term' , 'int_rate', 'purpose', 
         'application_type' , 'addr_state', 'annual_inc',
         'loan_status' ]```

In [16]:
# Sol: 
loan2 = pd.read_csv('C:/Users/Alberto/Documents/GitHub/bod-ecv/module2_Python/dataset/loan2.csv', usecols = ['member_id', 'loan_amnt', 'term' , 'int_rate', 'purpose', 
         'application_type' , 'addr_state', 'annual_inc', 'loan_status' ])
loan2.head()

,member_id,loan_amnt,term,int_rate,annual_inc,loan_status,purpose,addr_state,application_type
0,64972117,25000.0,36 months,13.33,80000.0,Current,debt_consolidation,OH,INDIVIDUAL
1,46666131,11200.0,60 months,16.55,31500.0,Current,debt_consolidation,CA,INDIVIDUAL
2,66473639,6000.0,36 months,12.69,45000.0,Current,credit_card,CT,INDIVIDUAL
3,28500374,10000.0,60 months,12.99,40000.0,Current,debt_consolidation,MI,INDIVIDUAL
4,996162,5000.0,36 months,11.49,75000.0,Fully Paid,debt_consolidation,TX,INDIVIDUAL

__5.)__ La columna `member_id` representa el identificador de cliente. Busca los clientes con  2 o más créditos.

In [27]:
# Sol: 
loan2.groupby('member_id').count()[ loan2.groupby('member_id').count()['loan_amnt'] > 1]

,loan_amnt,term,int_rate,annual_inc,loan_status,purpose,addr_state,application_type
member_id,,,,,,,,
40070464,2,2,2,2,2,2,2,2
43936191,2,2,2,2,2,2,2,2
49778778,2,2,2,2,2,2,2,2
58973528,2,2,2,2,2,2,2,2

__6.)__ Calcular los estadísticos `mínimo`, `máximo`, `media` y `desviación típica` de la columna `int_rate`.

In [24]:
# Sol:

loan2['int_rate'].min(), loan2['int_rate'].max(), loan2['int_rate'].mean(), loan2['int_rate'].std()

(5.32, 27.31, 13.179050847457633, 4.345221537341082)

__7.)__ Seleccionar los préstamos cuyo importe (valor en la columna `loan_amnt`) sea  mayor  de 33000 euros.

In [28]:
# Sol:
loan2[ loan2['loan_amnt'] > 33000]

,member_id,loan_amnt,term,int_rate,annual_inc,loan_status,purpose,addr_state,application_type
14,59671391,35000.0,60 months,19.99,77457.0,Current,debt_consolidation,CA,INDIVIDUAL
21,69504297,35000.0,60 months,18.20,90000.0,Current,other,NC,INDIVIDUAL
67,55298110,35000.0,36 months,11.53,135000.0,Current,credit_card,NY,INDIVIDUAL
83,71241373,34800.0,60 months,15.41,160000.0,Current,debt_consolidation,TX,INDIVIDUAL
84,1224465,35000.0,60 months,19.03,125000.0,Fully Paid,debt_consolidation,CA,INDIVIDUAL
88,41398853,35000.0,36 months,13.66,115000.0,Current,debt_consolidation,TX,INDIVIDUAL
101,43938561,35000.0,36 months,18.84,92000.0,Fully Paid,debt_consolidation,IN,INDIVIDUAL
112,1415586,35000.0,36 months,9.76,300000.0,Fully Paid,other,GA,INDIVIDUAL
178,11961629,33425.0,60 months,23.40,80000.0,Charged Off,debt_consolidation,OR,INDIVIDUAL
208,49890670,35000.0,36 months,9.17,140000.0,Late (31-120 days),home_improvement,TX,INDIVIDUAL
277,31216536,35000.0,60 months,12.99,160000.0,Charged Off,debt_consolidation,NY,INDIVIDUAL
280,10356875,35000.0,36 months,9.67,190000.0,Current,debt_consolidation,CA,INDIVIDUAL
290,4849914,35000.0,36 months,15.31,97000.0,Fully Paid,debt_consolidation,GA,INDIVIDUAL
371,23913943,35000.0,36 months,12.99,200000.0,Current,small_business,GA,INDIVIDUAL
380,61545909,35000.0,36 months,7.89,175000.0,Current,credit_card,MI,INDIVIDUAL
392,1750304,35000.0,60 months,21.98,90000.0,Current,debt_consolidation,IL,INDIVIDUAL
394,11498076,35000.0,36 months,20.50,147000.0,Fully Paid,debt_consolidation,MA,INDIVIDUAL
411,7012578,35000.0,36 months,15.31,130000.0,Fully Paid,debt_consolidation,WI,INDIVIDUAL
430,19555857,35000.0,60 months,18.99,156000.0,Current,debt_consolidation,CA,INDIVIDUAL
440,69843165,35000.0,60 months,16.99,90000.0,Current,debt_consolidation,CA,INDIVIDUAL
448,10329679,35000.0,36 months,10.99,93000.0,Current,debt_consolidation,CT,INDIVIDUAL
477,62150053,35000.0,36 months,13.99,175000.0,Current,debt_consolidation,NJ,INDIVIDUAL
479,8198354,35000.0,60 months,20.31,86000.0,Current,credit_card,CT,INDIVIDUAL
490,53282358,35000.0,36 months,11.53,145600.0,Current,credit_card,FL,INDIVIDUAL
567,65577063,35000.0,36 months,13.99,135000.0,Current,debt_consolidation,TX,INDIVIDUAL
592,20858142,35000.0,60 months,19.52,200000.0,Current,debt_consolidation,NY,INDIVIDUAL
606,72369713,35000.0,60 months,14.48,102000.0,Current,debt_consolidation,PA,INDIVIDUAL
616,50853105,35000.0,36 months,12.69,120000.0,Current,credit_card,AZ,INDIVIDUAL
644,8578038,35000.0,36 months,10.64,90038.0,Current,debt_consolidation,OH,INDIVIDUAL
656,1744337,35000.0,36 months,21.98,170000.0,Fully Paid,other,GA,INDIVIDUAL
...,...,...,...,...,...,...,...,...,...
2638,66522168,35000.0,60 months,13.99,115000.0,Current,debt_consolidation,NJ,INDIVIDUAL
2639,23373741,35000.0,60 months,17.57,130000.0,Fully Paid,debt_consolidation,IL,INDIVIDUAL
2725,43426397,35000.0,36 months,14.99,190000.0,Fully Paid,home_improvement,CA,INDIVIDUAL
2773,59689398,35000.0,36 months,7.89,250000.0,Current,debt_consolidation,CA,INDIVIDUAL
2825,4846854,35000.0,60 months,19.72,150000.0,Current,debt_consolidation,CA,INDIVIDUAL
2861,27118539,35000.0,36 months,15.61,150000.0,Current,debt_consolidation,WV,INDIVIDUAL
2868,70304663,35000.0,36 months,9.17,80000.0,Current,debt_consolidation,CO,INDIVIDUAL
2883,14487531,35000.0,36 months,10.99,92284.0,Fully Paid,debt_consolidation,VA,INDIVIDUAL
2894,4597477,35000.0,60 months,23.28,94000.0,Charged Off,credit_card,PA,INDIVIDUAL
2899,44039060,35000.0,60 months,12.69,109000.0,Current,debt_consolidation,CA,INDIVIDUAL
2923,4219816,35000.0,36 months,14.09,141000.0,Fully Paid,credit_card,CA,INDIVIDUAL
2933,19375823,35000.0,60 months,15.61,190000.0,Current,debt_consolidation,CA,INDIVIDUAL
2941,3416719,35000.0,36 months,18.85,105000.0,Fully Paid,debt_consolidation,OH,INDIVIDUAL
2963,71206596,35000.0,36 months,9.17,115000.0,Current,debt_consolidation,TX,INDIVIDUAL
2970,45251247,35000.0,60 months,13.99,130000.0,Current,debt_consolidation,NY,INDIVIDUAL
2980,52375719,35000.0,60 months,13.33,115000.0,Current,debt_consolidation,VA,INDIVIDUAL
3001,60324527,35000.0,60 months,19.19,112000.0,Current,debt_consolidation,OH,INDIVIDUAL
3006,18123178,35000.0,36 months,16.29,160000.0,Fully Paid,debt_consolidation,CA,INDIVIDUAL
3046,38972105,35000.0,60 months,11.44,120000.0,Fully Paid,debt_consolidation,CA,INDIVIDUAL
3059,28782570,35000.0,36 months,16.99,163000.0,Fully Paid,small_business,FL,INDIVIDUAL
3064,72980849,35000.0,36 months,17.27,255000.0,Issued,debt_consolidation,FL,INDIVIDUAL
3065,68369764,35000.0,36 months,9.99,115000.0,Current,credit_card,CA,INDIVIDUAL
3129,59759448,35000.0,60 months,13.33,75000.0,Current,debt_consolidation,NY,INDIVIDUAL
3137,41208244,35000.0,60 months,10.49,140000.0,Current,credit_card,MN,INDIVIDUAL
3147,33779699,34100.0,36 months,18.99,98000.0,Charged Off,debt_consolidation,WA,INDIVIDUAL
3162,28600939,35000.0,60 months,18.99,70000.0,Late (16-30 days),debt_consolidation,MT,INDIVIDUAL
3198,41210236,35000.0,36 months,17.14,165000.0,Late (16-30 days),debt_consolidation,TX,INDIVIDUAL
3202,935973,35000.0,60 months,23.99,147000.0,Fully Paid,home_improvement,FL,INDIVIDUAL
3226,62229901,33600.0,36 months,9.99,95000.0,Current,credit_card,FL,INDIVIDUAL
3242,11957868,35000.0,36 months,11.99,155000.0,Current,debt_consolidation,MA,INDIVIDUAL

__9.)__ Nos interesa conocer la finalidad de los préstamos (columna `purpose`). Calcula el número de préstamos por finalidad.

In [31]:
# Sol: 

loan2.groupby('purpose').count()['member_id']

purpose
car                     25
credit_card            753
debt_consolidation    1926
educational              1
home_improvement       200
house                   11
major_purchase          68
medical                 24
moving                  20
other                  162
renewable_energy         3
small_business          31
vacation                16
wedding                  5
Name: member_id, dtype: int64

__10.)__ Calcula el valor medio del tipo de interés dependiendo de la finalidad del préstamo.

In [5]:
# Sol: 
loan2.groupby(['purpose'])

__11.)__ En cuanto a la duración del préstamo, columna `term`,  nos encontramos con préstamos a 36 meses y 60 meses.

Transforma dicha columna de forma que no contenga valores de tipo `str`, sino de tipo `int`, es decir:
* valor 36 en lugar de ' 36 months'
* valor 60 en lugar de ' 60 months'

In [6]:
# Sol:

__12.)__  Calcula la correlación entre la cantidad prestada `loan_amnt`, renta `annual_inc` y el tipo de interés `int_rate`.

In [10]:
# Sol:

__13.)__ La columna `loan_status` aporta información del estado del préstamo.
* Consulta los diferentes estados que nos podemos encontrar en el dataset.

In [7]:
# Sol:

* Calcula el peso que tiene cada estado con respecto al total de créditos.

In [8]:
# Sol:

* El estado Current representan préstamos en proceso. Queremos centranos en el resto. Selecciona los préstamos cuyo estado es distinto de current.

In [9]:
# Sol:

* Con el resultado del punto anterior, clasificar los préstamos en dos categorías. Crear una columna nueva llamada Charged Off que indique si el préstamo es Charged Off o no.

In [11]:
# Sol:

__14.)__ Importe del préstamo (loan_amnt): a cada uno de los préstamos le asignaremos una categoría dependiento del importe del préstamo:

* low (importe < 8000)
* medium-low, (importe < 13000),
* medium-high, (importe < 18000)
* high (resto)


Diseñar una función `clasificar_cantidad` que devuelva una categoría para un importe dado de entrada.

Añadir una nueva columna a la tabla de préstamos con información de la categoría.

In [12]:
# Sol: